

body {
    background-color: springgreen;
}
h1 {
    color: whitesmoke;
    text-align: center;
    background-color: red;
}
.pink {
    background-color: palevioletred;
}
.brown {
    background-color: brown;
}
.orange {
    background-color: orange;
}
.skyblue {
    background-color: yellowgreen;
}
.green {
    background-color: green;
}
.sandybrown {
    background-color: sandybrown;
}
.aqua{
    background-color: aqua;
}
.violet{
    background-color: violet
}